body
{
	text-align: center; font-size:  medium;
}

body
{
background-color: #F2F2F2;	
}

@font-face {
    font-family: 'peraltaregular';
    src: url('webfonts/peralta-regular-webfont.eot');
    src: url('webfonts/peralta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/peralta-regular-webfont.woff2') format('woff2'),
         url('webfonts/peralta-regular-webfont.woff') format('woff'),
         url('webfonts/peralta-regular-webfont.ttf') format('truetype'),
         url('webfonts/peralta-regular-webfont.svg#peraltaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

h1
{
	color: #0065FC; font-family: 'peraltaregular'; text-align: center;
}

h2
{
	color: #0065FC; font-family: 'peraltaregular';
	text-shadow: 2px 2px 4px #DEEBFF;
    text-align: center;

}

ul
{
    text-align: left;
}

#img
{
    display:  flex;
    justify-content: flex-end;
}

#texte
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    margin: auto;
}